OpenGL Demo/Debug
OpenGL Demo/Release
OpenGL Demo/Dependencies
OpenGL Demo/res
OpenGL Demo/x64
*.enc
*.obj
*.dll
*.pdb
*.sln
*.vcx.proj
*.vcx.proj.filters
*.vcx.proj.user
*.ipch
*.db
*.lib
*.user
*.cmake
*.filters
*.vcxproj
*.suo
OpenGL Demo 2/Debug
OpenGL Demo 2/Release
OpenGL Demo 2/Dependencies
OpenGL Demo 2/x64
*.db-shm
*.db-wal
*.opendb
Another OpenGL Attempt/Debug
Another OpenGL Attempt/Release
Another OpenGL Attempt/Dependencies
Another OpenGL Attempt/x64
