OpenGL Demo/Debug
OpenGL Demo/Release
OpenGL Demo/res
OpenGL Demo/x64
*.enc
*.obj
*.dll
*.pdb
*.sln
*.vcx.proj
*.vcx.proj.filters
*.vcx.proj.user
*.ipch
*.db
OpenGL Demo/.vs/OpenGL Demo/v16/.suo
*.lib
*.user
*.cmake
